@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        {
            if (User.IsInRole("Admin"))
            {
                <Ul Class="SubMenuItem">

                    
                </Ul>
            }
            if (User.IsInRole("Customer"))
            {
                <Ul Class="SubMenuItem">
                    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Customer Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Vendors" asp-action="Index">Vendor Search</a>
                    <a class="dropdown-item text-dark" asp-area="" asp-controller="QuoteRequests" asp-action="Create">QuickQuote</a>
                </Ul>
            }
            if (User.IsInRole("Vendor"))
            {
            <Ul Class="SubMenuItem">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vendor Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-dark" asp-area="" asp-controller="QuoteRequests" asp-action="Index">Quote Requests</a>
            <li> this menu item is for Admin role</li>
            </Ul>
            }


            

        }
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a class="dropdown-item text-dark" asp-area="" asp-controller="QuoteRequests" asp-action="Create">QuickQuote</a>




            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
